alabaster==0.7.10
Babel==2.4.0
dill==0.2.6
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.5
MarkupSafe==1.0
mock==2.0.0
pbr==2.0.0
pluggy==0.4.0
py==1.4.33
Pygments==2.2.0
pytz==2017.2
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.4
sphinx-rtd-theme==0.2.4
tox==2.6.0
virtualenv==15.1.0
